<mat-drawer-container
  [autosize]="true"
  class="min-h-full max-w-full mx-auto border-x"
>
  <mat-drawer mode="side" opened position="start" class="p-6">
    <app-filters (ShowCategories)="onShowCategories($event)"></app-filters>
  </mat-drawer>
  <mat-drawer-content class="p-6">
    <app-products-header
      (coulumCountChange)="onColumnsUpdate($event)"
    ></app-products-header>
    <mat-grid-list gutterSize="16" [cols]="cols" [rowHeight]="rowHeight">
      @for (product of products; track $index) {
      <mat-grid-tile>
        <app-product-box
          [product]="product"
          (addToCart)="onAddcart($event)"
          class="w-full"
          [fullWithMode]="cols === 1"
        >
        </app-product-box>
      </mat-grid-tile>
      }
    </mat-grid-list>
  </mat-drawer-content>
</mat-drawer-container>
